<!DOCTYPE html>
<html>
<head>
	<title>Catlist</title>
	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="./css/adm.css">


</head>
<body>
	<header>
		<h1>Blog Admin Page</h1>
	</header>

	<div id="main">
		<div id="lside">
			<aside>
				<h4>栏目管理</h4>
				<ul>
					<li><a href="">category list</a></li>
					<li><a href="">add category</a></li>
				</ul>
			</aside>

			<aside>
				<h4>Article Manage</h4>
				<ul>
					<li><a href="">article list</a></li>
					<li><a href="">publish category</a></li>
				</ul>
			</aside>

			<aside>
				<h4>Self center</h4>
				<ul>
					<li><a href="">Change Password</a></li>
					<li><a href="">Logout</a></li>
				</ul>
			</aside>
		</div>

		<div id="rside">
			<table>
				<tr>
					<td>Article ID</td>
					<td>Date</td>
					<td>Title</td>
					<td>Category</td>
					<td>Comments</td>
					<td>Status</td>
				</tr>
				<?php foreach($arts as $a) { ?>
				<tr>
					<td><?php echo $a['art_id'];?></td>
					<td><?php echo date('Y/m/d', $a['pubtime'] );?></td>
					<td><?php echo $a['title'];?></td>
					<td><?php echo $a['catname'];?></td>
					<td><span class="badge"></span> <?php echo $a['comm'];?></span></td>
					<td>
						<a href="artedit.php?art_id=<?php echo $a['art_id'];?>">Eidt</a>
						<a href="artdel.php?art_id=<?php echo $a['art_id'];?>">Delete</a>
					</td>
				</tr>
				<?php }?>

			</table>
			<div id="pagebar">
				Pages: &nbsp;
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				4
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#">7</a>
				<a href="#">8</a>
			</div>
		</div>
		
	</div>
	<footer>
			Copyright &copy; 2018  CY
	</footer>
</body>
</html>