<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Document</title>

	
	<link rel="stylesheet" type="text/css" href="./css/fontawesome-all.css">

	<link rel="stylesheet" type="text/css" href="./css/reset.css">
	<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
	<header>
		<h1>Yuan's Blog</h1>
		<h4>扬帆远航</h4>

	</header>
	
	<nav>
		<ul>	
			<li><a href="">Homepage</a></li>
			<li><a href="">Article</a></li>
			<li><a href="">About</a></li>
			<li>
				<img src="./view/front/graduation.png" alt="">
				<a href="">Contact</a>
			</li>
		</ul>
	</nav>

	<div id="main">
		<div id="lside">
			<article>
				<h2><a href="#">将进酒</a></h2>
				<div class="entry_header">
					<time>2018-01-01</time>
					by
					<a href="#">李白</a>
					<a class="catlink fas fa-folder-open" href="#" > 唐诗三百首 </a>
					<a class="comment fas fa-comment " href="#" > 8条评论 </a>

				</div>
				<div class="entry_content">
					<p>君不见，黄河之水天上来，奔流到海不复回。</p>
					<p>君不见，高堂明镜悲白发，朝如青丝暮成雪。</p>
					<p>人生得意须尽欢，莫使金樽空对月。</p>
					<p>天生我材必有用，千金散尽还复来。</p>
					<p>烹羊宰牛且为乐，会须一饮三百杯。</p>
					<p>岑夫子，丹丘生，将进酒，杯莫停。</p>
					<p>与君歌一曲，请君为我倾耳听。</p>
					<p>钟鼓馔玉不足贵，但愿长醉不复醒。</p>
					<p>古来圣贤皆寂寞，惟有饮者留其名。</p>
					<p>陈王昔时宴平乐，斗酒十千恣欢谑。</p>
					<p>主人何为言少钱，径须沽取对君酌。</p>
					<p>五花马，千金裘，呼儿将出换美酒，与尔同销万古愁。</p>
				</div>
			</article>

			<article>
				<h2><a href="#">将进酒</a></h2>
				<div class="entry_header">
					<time>2018-01-01</time>
					by
					<a href="#">李白</a>
					<a class="catlink fas fa-folder-open" href="#">唐诗三百首</a>
					<a class="comment fas fa-comment" href="#">8条评论</a>

				</div>
				<div class="entry_content">
					<p>君不见，黄河之水天上来，奔流到海不复回。</p>
					<p>君不见，高堂明镜悲白发，朝如青丝暮成雪。</p>
					<p>人生得意须尽欢，莫使金樽空对月。</p>
					<p>天生我材必有用，千金散尽还复来。</p>
					<p>烹羊宰牛且为乐，会须一饮三百杯。</p>
					<p>岑夫子，丹丘生，将进酒，杯莫停。</p>
					<p>与君歌一曲，请君为我倾耳听。</p>
					<p>钟鼓馔玉不足贵，但愿长醉不复醒。</p>
					<p>古来圣贤皆寂寞，惟有饮者留其名。</p>
					<p>陈王昔时宴平乐，斗酒十千恣欢谑。</p>
					<p>主人何为言少钱，径须沽取对君酌。</p>
					<p>五花马，千金裘，呼儿将出换美酒，与尔同销万古愁。</p>
				</div>
			</article>

			<article>
				<h2><a href="#">将进酒</a></h2>
				<div class="entry_header">
					<time>2018-01-01</time>
					by
					<a href="#">李白</a>
					<a class="catlink fas fa-folder-open" href="#">唐诗三百首</a>
					<a class="comment fas fa-comment" href="#">8条评论</a>

				</div>
				<div class="entry_content">
					<p>君不见，黄河之水天上来，奔流到海不复回。</p>
					<p>君不见，高堂明镜悲白发，朝如青丝暮成雪。</p>
					<p>人生得意须尽欢，莫使金樽空对月。</p>
					<p>天生我材必有用，千金散尽还复来。</p>
					<p>烹羊宰牛且为乐，会须一饮三百杯。</p>
					<p>岑夫子，丹丘生，将进酒，杯莫停。</p>
					<p>与君歌一曲，请君为我倾耳听。</p>
					<p>钟鼓馔玉不足贵，但愿长醉不复醒。</p>
					<p>古来圣贤皆寂寞，惟有饮者留其名。</p>
					<p>陈王昔时宴平乐，斗酒十千恣欢谑。</p>
					<p>主人何为言少钱，径须沽取对君酌。</p>
					<p>五花马，千金裘，呼儿将出换美酒，与尔同销万古愁。</p>
				</div>
			</article>

			<div id="pagebar">
				Pages: &nbsp;
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				4
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#">7</a>
				<a href="#">8</a>
			</div>
		</div>
		
		<div id="rside"> 

			<aside>
				<form action="">
					<input type="text" name="search" placeholder="search...">
				</form>
			</aside>

			<aside>
				<h4>测试标题</h4>
				<ul>
					<li><a href="">article title1</a>&nbsp;(1)</li>
					<li><a href="">article title2</a>&nbsp;(3)</li>
					<li><a href="">article title3</a>&nbsp;(5)</li>
					<li><a href="">article title4</a>&nbsp;(6)</li>
				</ul>
			</aside>

			<aside>
				<h4>测试标题2</h4>
				<ul>
					<li><a href="">article title1</a>(1)</li>
					<li><a href="">article title2</a>(3)</li>
					<li><a href="">article title3</a>(5)</li>
					<li><a href="">article title4</a>(6)</li>
				</ul>
			</aside>

			<aside>
				<h4>测试标题3</h4>
				<ul>
					<li><a href="">article title1</a>(1)</li>
					<li><a href="">article title2</a>(3)</li>
					<li><a href="">article title3</a>(5)</li>
					<li><a href="">article title4</a>(6)</li>
				</ul>
			</aside>

			<aside>
				<h4>测试标题4</h4>
				<ul>
					<li><a href="">article title1</a>(1)</li>
					<li><a href="">article title2</a>(3)</li>
					<li><a href="">article title3</a>(5)</li>
					<li><a href="">article title4</a>(6)</li>
				</ul>
			</aside>
		</div>
		
	</div>

	<footer>
		Copyright &copy 2018 ~ cy
	</footer>

</body>
</html>