<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Document</title>

	
	<link rel="stylesheet" type="text/css" href="./css/fontawesome-all.css">

	<link rel="stylesheet" type="text/css" href="./css/reset.css">
	<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
	<header>
		<h1>Yuan's Blog</h1>
		<h4>扬帆远航</h4>

	</header>
	
	<nav>
		<ul>	
			<li><a href="">Homepage</a></li>
			<li><a href="">Article</a></li>
			<li><a href="">About</a></li>
			<li>
				<img src="./view/front/graduation.png" alt="">
				<a href="">Contact</a>
			</li>
		</ul>
	</nav>

	<div id="main">
		<div id="lside">
			<?php foreach($arts as $a) {?>

			<article>
				<h2><a href="#"><?php echo $a['title'];?></a></h2>
				<div class="entry_header">
					<time><?php echo date('Y/m/d', $a['pubtime']);?></time>
					by
					<a href="#">李白</a>
					<a class="catlink fas fa-folder-open" href="#" ><?php echo $a['catname'];?></a>
					<a class="comment fas fa-comment " href="#" > <?php echo $a['comm'];?> </a>

				</div>
				<div class="entry_content">
					<?php echo $a['content'];?>
				</div>
			</article>
			<?php }?>
			

			<div id="pagebar">
				Pages: &nbsp;
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				4
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#">7</a>
				<a href="#">8</a>
			</div>
		</div>
		
		<div id="rside"> 

			<aside>
				<form action="">
					<input type="text" name="search" placeholder="search...">
				</form>
			</aside>

			<aside>
				<h4>Category List</h4>
				<ul>
					<?php foreach($cats as $c) {?>
					<li><a href=""><?php echo $c['catname']; ?></a></li>
					<?php }?>
				</ul>
			</aside>

			<aside>
				<h4>测试标题2</h4>
				<ul>
					<li><a href="">article title1</a>(1)</li>
					<li><a href="">article title2</a>(3)</li>
					<li><a href="">article title3</a>(5)</li>
					<li><a href="">article title4</a>(6)</li>
				</ul>
			</aside>

			<aside>
				<h4>测试标题3</h4>
				<ul>
					<li><a href="">article title1</a>(1)</li>
					<li><a href="">article title2</a>(3)</li>
					<li><a href="">article title3</a>(5)</li>
					<li><a href="">article title4</a>(6)</li>
				</ul>
			</aside>

			<aside>
				<h4>测试标题4</h4>
				<ul>
					<li><a href="">article title1</a>(1)</li>
					<li><a href="">article title2</a>(3)</li>
					<li><a href="">article title3</a>(5)</li>
					<li><a href="">article title4</a>(6)</li>
				</ul>
			</aside>
		</div>
		
	</div>

	<footer>
		Copyright &copy 2018 ~ cy
	</footer>

</body>
</html>